/*Zerando algumas config pré-definidas*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute; /*Alinhando ao centro da pagina*/
    top: 50%;   /*Alinhando ao centro da pagina*/
    left: 50%;  /*Alinhando ao centro da pagina*/
    transform: translate(-50%,-50%);    /*Alinhando ao centro da pagina*/
    width: 300px;
    border: 5px solid;
}

.titulo {
    font-size: 13px;
    padding: 10px;
    background-color: orange;
    border-bottom: 3px solid #000;
}

.titulo h1 {
    font-weight: bold;  /*Deixando o título em negrito*/
}

.add-participante {
    margin-top: 30px;
      /*Fazendo o botao de add participante ir para o fim do container*/
    display: flex;      /*Deixando a String "Add um participante" fique ao lado do botão de add*/
    border: 1px solid;
    flex: 1;
}
input {
    border-radius: 0px;
}

#btn-add {
    padding: 10px;
    background-color: orange;
    border: 1px solid;
    opacity: 0.8;   /*Deixando o botao um pouco trasnparente*/
    cursor: pointer;
    color: #000;
    font-size: 30px;
}

#listaElementos > li {
    background-color: orange;
    margin: 10px 10px 0 10px;
    border-radius: 15px;
    border: 1.5px solid;
    border-color:rgb(107, 106, 106);
    font-size: 30px;
}